In [1]:
import pandas as pd
import numpy as np
from sklearn import datasets
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder

In [3]:
gym=pd.read_excel(r"C:\Users\USER\Downloads\dataGYM.xlsx")

In [4]:
gym

,Age,Height,weight,BMI,Class,Prediction
0,48,4.1,86,40,Extremely obese,Extremely obese--normal exercise+yoga+heavy di...
1,53,4.1,91,42,Extremely obese,Extremely obese--normal exercise+yoga+heavy di...
2,42,4.1,95,44,Extremely obese,Extremely obese--normal exercise+yoga+heavy di...
3,48,4.1,100,46,Extremely obese,Extremely obese--normal exercise+yoga+heavy di...
4,22,4.1,104,48,Extremely obese,Extremely obese--normal exercise+yoga+heavy di...
...,...,...,...,...,...,...
1171,50,6.9,59,14,Under weight,Under weight--protines+carbs+normal weights ->...
1172,49,6.9,64,15,Under weight,Under weight--protines+carbs+normal weights ->...
1173,52,6.9,68,16,Under weight,Under weight--protines+carbs+normal weights ->...
1174,36,6.9,73,17,Under weight,Under weight--protines+carbs+normal weights ->...
1175,26,6.9,77,18,Under weight,Under weight--protines+carbs+normal weights ->...

In [5]:
gym.head()

,Age,Height,weight,BMI,Class,Prediction
0,48,4.1,86,40,Extremely obese,Extremely obese--normal exercise+yoga+heavy di...
1,53,4.1,91,42,Extremely obese,Extremely obese--normal exercise+yoga+heavy di...
2,42,4.1,95,44,Extremely obese,Extremely obese--normal exercise+yoga+heavy di...
3,48,4.1,100,46,Extremely obese,Extremely obese--normal exercise+yoga+heavy di...
4,22,4.1,104,48,Extremely obese,Extremely obese--normal exercise+yoga+heavy di...

In [6]:
gym["Class"]=LabelEncoder().fit_transform(gym["Class"])

In [7]:
gym.head()

,Age,Height,weight,BMI,Class,Prediction
0,48,4.1,86,40,1,Extremely obese--normal exercise+yoga+heavy di...
1,53,4.1,91,42,1,Extremely obese--normal exercise+yoga+heavy di...
2,42,4.1,95,44,1,Extremely obese--normal exercise+yoga+heavy di...
3,48,4.1,100,46,1,Extremely obese--normal exercise+yoga+heavy di...
4,22,4.1,104,48,1,Extremely obese--normal exercise+yoga+heavy di...

In [8]:
gym["Class"].value_counts()

3    281
5    248
2    232
1    212
4    199
0      4
Name: Class, dtype: int64

In [9]:
x=gym.iloc[:,:3]
x.head()

   Age  Height  weight
0   48     4.1      86
1   53     4.1      91
2   42     4.1      95
3   48     4.1     100
4   22     4.1     104

In [10]:
y=gym.iloc[:,5:]
y.head()

                                          Prediction
0  Extremely obese--normal exercise+yoga+heavy di...
1  Extremely obese--normal exercise+yoga+heavy di...
2  Extremely obese--normal exercise+yoga+heavy di...
3  Extremely obese--normal exercise+yoga+heavy di...
4  Extremely obese--normal exercise+yoga+heavy di...

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [12]:
model_GY=RandomForestClassifier(n_estimators=20)
model_GY.fit(x_train,y_train)

C:\Users\USER\AppData\Local\Temp/ipykernel_7988/2443188472.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model_GY.fit(x_train,y_train)

RandomForestClassifier(n_estimators=20)

In [13]:
expected=y_test
predicted=model_GY.predict(x_test)

In [14]:
metrics.classification_report(expected,predicted)
metrics.confusion_matrix(expected,predicted)

array([[34,  0,  8,  0,  0],
       [ 0, 40,  3,  2, 11],
       [ 2,  0, 50,  3,  0],
       [ 1,  9,  7, 22,  1],
       [ 0,  1,  0,  0, 42]], dtype=int64)

In [15]:
print(metrics.classification_report(expected,predicted))
print(metrics.confusion_matrix(expected,predicted))

                                                                       precision    recall  f1-score   support

Extremely obese--normal exercise+yoga+heavy dite control+TIPS ->Obese       0.92      0.81      0.86        42
                                 Healthy--fitness+protine+simple dite       0.80      0.71      0.75        56
                      Obese--slow lean+protine+full dite ->Overweight       0.74      0.91      0.81        55
                Overweight--lean+cardio+protine+normal dite ->Healthy       0.81      0.55      0.66        40
                Under weight--protines+carbs+normal weights ->Healthy       0.78      0.98      0.87        43

                                                             accuracy                           0.80       236
                                                            macro avg       0.81      0.79      0.79       236
                                                         weighted avg       0.80      0.80      0.79       236

[[34  0  8  0  0]
 [ 0 40  3  2 11]
 [ 2  0 50  3  0]
 [ 1  9  7 22  1]
 [ 0  1  0  0 42]]

In [20]:
import pickle

In [21]:
pickle.dump(model_GY,open("model_GY.pkl","wb"))
mdl=pickle.load(open("model_GY.pkl","rb"))
print(mdl.predict([[6,15,75]]))

['Under weight--protines+carbs+normal weights ->Healthy']